@font-face {
    font-family: VT323;
    src: url(../font/VT323-Regular.ttf);
}

:root {
    --background: #030 ;
    --black: #000;
    --dark_green: #0a0;
    --green: #0f0;
}

* {
    font-family: VT323, sans-serif;
    color: var(--green);
    text-shadow: var(--green) 0px 0px 1vh;
    margin: 0vh;
    padding: 0vh;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: var(--background);
}

main {
    width: 98vw;
    max-width: 133.33vh;
    /* 4/3 = 1.333 */
    height: 75vw;
    /* 3/4 = .75 */
    max-height: 98vh;
    background-color: var(--black);
    border-radius: 2vh;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2vh;
}

header > a > img {
    border-radius: 2vh;
    width: 8vh;
    height: 8vh;
}

::-webkit-scrollbar {
    background-color: var(--black);
    width: 1.5vh;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark_green);
    border-radius: 2vh;
}