h1 {
    font-size: 10vh;
    text-align: center;
    padding-bottom: 5vh;
}

p {
    font-size: 5vh;
    text-align: center;
}

main {
    overflow-y: scroll;
    direction: ltr;
}

aside {
    position: fixed;
    bottom: 0;
    right: 0;
}

aside > iframe {
    border-radius: 2vh;
    width: 35vh;
    height: 12vh;
}

br {
    display: block;
    content: "";
    margin-top: 7vh;
}