@font-face {
    font-family: Caveat;
    src: url(../font/Caveat-VariableFont_wght.ttf);
}

:root {
    --background: #707580;
    --black: #000;
    --white: #f5f5f5;
}

* {
    font-family: Caveat, cursive;
    color: var(--black);
    margin: 0vh;
    padding: 0vh;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: var(--background);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2vh;
}

header > a > img {
    border-radius: 2vh;
    width: 8vh;
    height: 8vh;
}

main {
    width: 98vw;
    max-width: 133.33vh;
    /* 4/3 = 1.333 */
    height: 75vw;
    /* 3/4 = .75 */
    max-height: 98vh;
    background-color: var(--white);
    border-radius: 2vh;
    direction: ltr;
    overflow-y: scroll;
}

h1.index {
    font-size: 18vh;
    width: 110vh;
    text-align: center;
    border-bottom: 1vh var(--black) solid;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a.index {
    font-size: 8vh;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a.album_selection {
    text-decoration: none;
}

div.album_selection {
    display: inline-block;
    width: 29.5vh;
    height: 36vh;
    background: var(--background);
    border: 0.5vh var(--background) solid;
    border-radius: 2vh;
    margin-left: 1.6vh;
    margin-top: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.album_selection > img {
    height: 29.5vh;
    width: 29.5vh;
    border-radius: 2vh;
}

div.album_selection > img#horizons {
    content: url(../image/Horizons.jpg);
}

div.album_selection > img#divisons {
    content: url(../image/Divisions.jpg);
}

div.album_selection > img#vessels {
    content: url(../image/Vessels.jpg);
}

div.album_selection > img#transmissions {
    content: url(../image/Transmissions.jpg);
}

p.album_selection {
    text-align: center;
    font-size: 5vh;
}

a.song_selection {
    font-size: 5vh;
    display: block;
    text-align: center;
    padding: .5vh;
}

main.song > h1 {
    font-size: 10vh;
    text-align: center;
    padding-bottom: 5vh;
}

main.song > p {
    font-size: 5vh;
    text-align: center;
}

main.song > br {
    display: block;
    content: "";
    margin-top: 7vh;
}

aside.song {
    position: fixed;
    bottom: 0;
    right: 0;
}

aside.song > iframe {
    border-radius: 2vh;
    width: 35vh;
    height: 12vh;
}

::-webkit-scrollbar {
    background-color: var(--white);
    width: 1.5vh;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 2vh;
}