:root {
    --background: #030;
}

div#album {
    display: inline-block;
    width: 12em;
    height: 15em;
    background: var(--background);
    border: 5px var(--background) solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

div#album > img {
    height: 12em;
    width: 12em;
}

a > p {
    text-align: center;
    font-size: 2em;
}