@font-face {
    font-family: VT323;
    src: url(../font/VT323-Regular.ttf);
}

:root {
    --background: #030 ;
    --black: #000;
    --dark_green: #0a0;
    --green: #0f0;
}

* {
    font-family: VT323, sans-serif;
    color: var(--green);
    text-shadow: var(--green) 0px 0px 1vh;
    margin: 0vh;
    padding: 0vh;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: var(--background);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2vh;
}

header > a > img {
    border-radius: 2vh;
    width: 8vh;
    height: 8vh;
}

main {
    width: 98vw;
    max-width: 133.33vh;
    /* 4/3 = 1.333 */
    height: 75vw;
    /* 3/4 = .75 */
    max-height: 98vh;
    background-color: var(--black);
    border-radius: 2vh;
    direction: ltr;
    overflow-y: scroll;
}

button#retro {
    background-color: var(--black);
    border: 1px var(--green) solid;
    width: 20vh;
    font-size: 6vh;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button#retro:hover {
    background-color: var(--background);
}

button#classic {
    background-color: var(--black);
    border: 1px var(--green) solid;
    width: 20vh;
    font-size: 6vh;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 65%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button#classic:hover {
    background-color: var(--background);
}

h1.index {
    font-size: 18vh;
    width: 110vh;
    text-align: center;
    border: 1vh var(--green) solid;
    box-shadow: var(--green) 0vh 0vh 1vh;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a.index {
    font-size: 8vh;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a.album_selection {
    text-decoration: none;
}

div.album_selection {
    display: inline-block;
    width: 29.5vh;
    height: 36vh;
    background: var(--background);
    border: 0.5vh var(--background) solid;
    border-radius: 2vh;
    margin-left: 1.6vh;
    margin-top: 2vh;
}

div.album_selection > img {
    height: 29.5vh;
    width: 29.5vh;
    border-radius: 2vh;
}

div.album_selection > img#horizons {
    content: url(../image/Horizons-green.png);
}

div.album_selection > img#divisions {
    content: url(../image/Divisions-green.png);
}

div.album_selection > img#vessels {
    content: url(../image/Vessels-green.png);
}

div.album_selection > img#transmissions {
    content: url(../image/Transmissions-green.png);
}

p.album_selection {
    text-align: center;
    font-size: 5vh;
}

a.song_selection {
    font-size: 5vh;
    display: block;
    text-align: center;
    padding: .5vh;
}

main.song > h1 {
    font-size: 10vh;
    text-align: center;
    padding-bottom: 5vh;
}

main.song > p {
    font-size: 5vh;
    text-align: center;
}

main.song > br {
    display: block;
    content: "";
    margin-top: 7vh;
}

aside.song {
    position: fixed;
    bottom: 0;
    right: 0;
}

aside.song > iframe {
    border-radius: 2vh;
    width: 35vh;
    height: 12vh;
}

::-webkit-scrollbar {
    background-color: var(--black);
    width: 1.5vh;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark_green);
    border-radius: 2vh;
}