:root {
    --background: #030;
}

a {
    text-decoration: none;
}

div#album {
    display: inline-block;
    width: 29.5vh;
    height: 36vh;
    background: var(--background);
    border: 0.5vh var(--background) solid;
    border-radius: 2vh;
    margin-left: 1.6vh;
    margin-top: 2vh;
}

div#album > img {
    height: 29.5vh;
    width: 29.5vh;
    border-radius: 2vh;
}

p {
    text-align: center;
    font-size: 5vh;
}