@font-face {
    font-family: VT323;
    src: url(../font/VT323-Regular.ttf);
}

:root {
    --black: #000;
    --dark_green: #0a0;
    --green: #0f0;
}

* {
    margin: 0px;
    padding: 0px;
}

h1, p {
    font-family: VT323, sans-serif;
    text-align: center;
    text-shadow: var(--green) 0px 0px 5px;
    color: var(--green);
}

h1 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 10px;
}

p {
    font-size: 2em;
}

::-webkit-scrollbar {
    background-color: var(--transparent);
    width: 1.5vh;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark_green);
}